@import './_config.scss';
@import './resets.scss';

.App{
    background: $primary-color;
    height: 100vh;
    color: set-text-color($primary-color);
    font-family: $font-family;
    line-height: 1;
    overflow-x: hidden;
}

h1,h2,h3{
    font-weight: 400;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}